* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.welcome-title, .slogan {
    color: white !important;
}

.app-name {
    background: linear-gradient(#f72585, #9616b6);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fade-in-text {
    font-family: Arial;
    font-size: 150px;
    animation: fadeIn 1s;
  }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1;}
  }


.most-traded-cryptos-title {
    margin-top: -30px;
    text-align: center;
    color: white;
}

.crypto-card {
    background-color: rgba(98, 98, 98, 0.571);
    text-align: center;
    margin-top: 10px;
}

.crypto-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Centraliza a imagem horizontalmente */ /* Adicione espaço entre a imagem e as informações em dispositivos móveis */
  }


.crypto-icon {
    border-radius: 50% !important;
    transform: rotate(-13deg);
    width: 60px;
    height: auto;
    vertical-align: middle;
}

.crypto-name {
    background: linear-gradient(#f72585, #9616b6);
    background-clip: text;
    -webkit-text-fill-color: transparent;;
}

.crypto-price-up {
    color: rgb(35, 170, 35);
}

.crypto-price-down {
    color: rgb(241, 50, 50);
}

.movement-percentage-up {
    font-size: 0.8em;
    color: rgb(35, 170, 35);
}

.movement-percentage-down {
    font-size: 0.8em;
    color: rgb(241, 50, 50) !important;
}

.view-market-button {
    background:  linear-gradient(#f72585, #9616b6);
    border: none;
}

.view-market-button:hover {
    box-shadow: inset 30px 30px 30px 30px rgba(0, 0, 0, 0.218);
}
