* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.welcome-title, .slogan {
    color: white !important;
}

.app-name {
    background: linear-gradient(#f72585, #9616b6);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fade-in-text {
    font-family: Arial;
    font-size: 150px;
    animation: fadeIn 1s;
  }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1;}
  }


.marketSummary {
    color: white;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    color: white !important;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    height: 100%;
}

.category > h5 {
    padding: 5%;
    margin: 0;
    color: white I !important;
}

.category:hover {
    background-color: #f72585 !important;
    border: 1px solid #f72585;
}

.categories-grid > .active {
    background-color: #f72585 !important;
    border: 1px solid #f72585;
}

.market-card {
    background-color: white;
    text-align: center;
    margin-top: 10px;
}

.market-card > .category {
    color: #f72585;
}

.market-name {
    background: linear-gradient(#f72585, #9616b6);
    background-clip: text;
    -webkit-text-fill-color: transparent;;
}

.market-price-up {
    color: rgb(35, 170, 35);
}

.market-price-down {
    color: rgb(241, 50, 50);
}

.market-price-closed {
    color: black;
}

.movement-percentage-down {
    font-size: 0.8em;
    color: rgb(241, 50, 50) !important;
}

.movement-percentage-down {
    font-size: 0.8em;
    color: rgb(35, 170, 35);
}

.market-icon {
    border-radius: 50% !important;
}

.view-market-button {
    background:  linear-gradient(#f72585, #9616b6);
    border: none;
}

.view-market-button:hover {
    box-shadow: inset 30px 30px 30px 30px rgba(0, 0, 0, 0.218);
}
