.navbar {
    background-color: black !important;
}

#logo {
    color: #f72585;
}

.nav-link {
    color: white !important;
}

.active {
    background-color: transparent !important;
    color: #f72585 !important;
}